
:root {
  --primary: #d82036;
  --secondary: #61dafb;
  --tertiary: #646cff;
  --quaternary: #888;
  --quinary: #fff;
  --senary: #000;
  --primary-opposite: #0da2d5;

  --primary-darker: #b71c2b;
  --foreground: var(--quinary);
  --background: #161719;
  --background-lighter: #2d2e30;
  --background-lighter-lighter: #777;

  // Action Colors
  --info: #35c9fa;
  --success: #88ff88;
  --warning: #ece715;
  --danger: #f80363;
}
