.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--foreground);
  width: 100%;
  padding: 0;

  .navbar-brand {
    font-family: PoppinsBold;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    a {
      text-decoration: none;
      color: var(--foreground);
      display: flex;
      flex-direction: row;
      gap: 1rem;
      transition: all 0.2s ease-in-out;
      img {
        width: 2rem;
      }
      &:hover {
        opacity: 0.8;
        transform: scale(1.04);
      }
    }
  }

  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    position: relative;
    @media (max-width: 600px) {
      flex-direction: column;
    }

    li {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0 0.5rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      img {
        border-radius: 50%;
        font-size: 1.2rem;
      }
      &:hover {
        background: var(--primary-darker);
      }
      a, button {
        color: var(--foreground);
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 4px;
        transition: 0.1s ease-in-out;
        height: 100%;
        display: flex;
        align-items: center;
      }
      &:not(:last-child) {
        border-right: 1px solid var(--primary-darker);
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    width: 100%;
    padding-left: 0;

    li {
      width: 100%;
      text-align: left;
    }
  }
}

.drop-down {
  position: absolute;
  top: 100%;
  right: 0.5rem;
  background: var(--background-lighter);
  border-radius: 0 0 4px 4px;
  list-style: none;
  padding: 0;
  z-index: 2;
  border: 1px solid var(--background);
  box-shadow: 2px 2px 3px #0000005e;
  margin: 0;
  display: flex;
  flex-direction: column;
  a, span {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: var(--foreground);
    padding: 0.5rem 1rem;
    &:hover {
      background: var(--primary-darker);
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--background-lighter-lighter);
    }    
  }
}
