.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: var(--foreground);
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem;

  .navbar-brand {
    font-family: PoppinsBold;
    font-size: 1.5rem;
    font-weight: bold;
    a {
      text-decoration: none;
      color: var(--foreground);
      display: flex;
      flex-direction: row;
      gap: 1rem;
      transition: all 0.2s ease-in-out;
      img {
        width: 2rem;
      }
      &:hover {
        opacity: 0.8;
        transform: scale(1.04);
      }
    }
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 0.25rem;
    margin: 0;
    li {
      margin: 0;
      a, button {
        color: var(--foreground);
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
        transition: 0.1s ease-in-out;

        &:hover {
          text-decoration: underline;
          background: var(--primary-darker);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    width: 100%;
    padding-left: 0;

    li {
      width: 100%;
      text-align: left;
    }
  }
}
